# Dependencies
node_modules/

# Environment files
.env
.env.*
.env-local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Coverage / build
coverage/
dist/
build/

# OS / Editor
.DS_Store
*.swp
*.swo
.idea/
*.iml

# VS Code settings (keep launch/tasks if desired)
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

# Docker
*.local
docker-data/

